
html body {
    background-color: rgba(76, 73, 73, 0.75);
    height: 9999px;
    /*Without overflow When The Modal Resets, Page Scroll Gets Disabled*/
    overflow: visible !important;
}

.container {
    background-color: rgba(228, 233, 255, 0.73);
}

/*Every Table Header*/ 
thead tr th:first-child{

    border-top-left-radius: 15px;
}
thead tr th:last-child {
    border-top-right-radius: 15px;
}

.modal-body {
    justify-content: center;
}

img {
    height: 40px;
    width: auto;
}

#MainTable {
    border-radius: 25px;
    padding: 0px;
    
    position: relative;
    top: 50px;
}

    #MainTable table {
        width: 95%;
        top: 5px;
        margin: 0px auto;
        position: relative;
        height: 100px;
       
    }



#StudentMinimalTable, #TrainerMinimalTable, #AssignmentMinimalTable, #CourseMinimalTable {
    position: relative;
    border-radius: 25px;
    top: 100px;
}


#second_tables_container {
    position: relative;
    justify-content: space-around;
}
    #secondary_tables div {
        margin-bottom: 70px;
    }


table {
    width: 95%;
    top: 5px;
    margin: 0px auto;
    position: relative;
    
}
.modal-body .row {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    padding-top: 25px;
    margin:0px;
}
.modal-body  {

    margin: 0px;
}

#AssignmentPerCoursePerStudentModalBodyTopBt {
    text-align: center;

}
    #AssignmentPerCoursePerStudentModalBodyTopBt button {
        padding: 15px;
        margin: 15px;
    }