
html body {
    background-color: rgba(76, 73, 73, 0.75);
    height: 9999px;
    /*Without overflow When The Modal Resets, Page Scroll Is Disabled*/
    overflow: visible !important;
}

.container {
    background-color: rgba(228, 233, 255, 0.73);
}


img {
    height: 40px;
    width: auto;
}

#MainTable {
    border-radius: 25px;
    padding: 0px;
    
    position: relative;
    top: 50px;
}

    #MainTable table {
        width: 95%;
        top: 5px;
        margin: 0px auto;
        position: relative;
        height: 100px;
       
    }


#secondary_tables  div {
    margin-bottom: 70px;
}

#StudentMinimalTable, #TrainerMinimalTable, #AssignmentMinimalTable {
    position: relative;
    border-radius: 25px;
    top: 100px;
}
#secondary_tables {
    position: relative;
    
    justify-content:space-around;
}

table {
    width: 95%;
    top: 5px;
    margin: 0px auto;
    position: relative;
    
}
